// Welcome
.video_brightness {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  // backdrop-filter: brightness(0.8);
}
.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}
.reel_form {
  display: flex;
  justify-content: center;
  .main_welcome {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  // Warmee
  .main_warmee {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-image: url("/images/bg-warmee.svg");
    background-repeat: no-repeat;
    background-position: center;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      max-width: 375px;
      height: 166px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.40869) 31.42%, #000000 100%);
    }
    .warmee_wlcm {
      margin: 0 auto;
      @media (min-width: 320px) and (max-width: 344px) {
        margin: 0 0 6px !important;
        font-size: 29px !important;
      }
    }
    .imgwarmeetoplogo {
      margin: 33px auto -40px;
    }
    .warmee_welcome {
      .warmee_reel_img {
        top: 40%;
        left: 30px;
      }
      .warmee_reel_img1 {
        top: 230px;
      }
      .warmee_reel_img4 {
        top: 60%;
      }
    }
  }

  // Reel It Get

  .earn_now_label {
    .warmee_earn_text {
      padding: 18px 14px 10px 16px;
      @media (min-width: 320px) and (max-width: 373px) {
        padding: 18px 14px 10px 0;
      }
    }

    // rules to earn styling
    .warmee_rules_earn_text {
      padding: 30px 0 40px;
    }
    .rules_earn_content {
      margin: 0 0 45px;
      .rules_tag_box {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 0 15px;
        .share_reels_img {
          max-width: 305px;
          width: 100%;
        }
        .rules_para {
          margin: 0;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          display: flex;
          align-items: center;
          color: #000000;
        }
      }
      .info_tag_box {
        margin: 0 0 45px;
      }
    }
    .rules_product_content {
      margin: 0 0 54px;
    }
    // end
    .warmee_earn_control_box {
      padding: 0;
    }
    .warm_earn_control_box {
      padding: 0 20px;
    }
    .warmee_reel_para {
      font-family: "Poppins";
      font-style: normal;
      width: 100%;
      padding: 0 14px 0 21px;
      font-weight: 700;
      font-size: 13px;
      line-height: 160%;
      margin: 0 0 23px;
      color: #000000;
      .warmee_reel_span {
        color: #ff6434;
        font-weight: 500;
      }
      // @media (min-width: 320px) and (max-width: 345px) {
      //   padding: 0 20px 0;
      // }
    }
    .earn_slider_box {
      max-width: 350px;
      position: relative;
      margin: 0 0 32px;
      background: #f4f5fb;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 16px;
      .earning_title_box {
        display: flex !important;
        justify-content: center;
        margin: 0;
        background: #000000;
        border-radius: 0px 0px 16px 16px;
        max-width: 128px;
        width: 100%;
        .earning_title {
          font-family: "Mabry Pro";
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 13px;
          margin: 0;
          padding: 4px 20.11px 6.21px 18px;
          text-align: center;
          color: #ffffff;
        }
      }
      .earning_amount {
        font-family: "Druk Wide Trial";
        font-style: normal;
        font-weight: 500;
        font-size: 43px;
        line-height: 160%;
        margin: 0;
        color: #000000;
      }
      .earn_inner_slider_box {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .earning_img {
          margin: 0 0 16.83px 0;
        }
        .eye_box {
          max-width: 100px;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 6px 7px;
          background: #ffffff;
          border: 1px solid #000000;
          border-radius: 16px;
          margin: 0 0 34px;
          .eye_para {
            margin: 0;
            font-family: "Mabry Pro";
            font-style: normal;
            font-weight: 500;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            color: #000000;
          }
        }
      }
    }
  }
  .warmee_earn_container {
    justify-content: center;
    align-items: center;
  }
  .warm_earn_now_label {
    width: 375px !important;
    justify-content: center;
    align-items: center;
    @media (min-width: 320px) and (max-width: 374px) {
      width: 100% !important;
    }
  }
  .warmee_padder {
    padding: 0 0 147px;
  }
  // End Reel It Get
  .warmee_main_box {
    padding: 0 20px;
  }
  .congrats_box {
    .congrats_container {
      .warmee_congrats_heading {
        position: relative;
        font-size: 28px;
        padding: 0 28px 0 33px;
        &::before {
          content: "";
          background-image: none;
        }
        &::after {
          content: "";
          background-image: url("/images/congrats-line.png");
          position: absolute;
          right: 47px;
          bottom: -18px;
          width: 100px;
          height: 12px;
          @media (min-width: 320px) and (max-width: 348px) {
            right: 0;
          }
        }
      }
    }
    .warmee_controls_welcome {
      text-align: right !important;
      padding: 30px 20px 0 !important;
    }
  }
  // End Warmee

  .imgtoplogo {
    text-align: center;
    margin: 46px auto 0px;
    display: flex;
  }
  .form_reel_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    height: 100%;
    max-width: 375px;
    position: relative;

    .wlcm {
      @media (min-width: 320px) and (max-width: 344px) {
        margin: 20.92px 0 6px;
        font-size: 30px;
      }
    }

    .reel_img1 {
      position: absolute;
      top: 217px;
      right: 20px;
    }

    .reel_img {
      position: absolute;
      top: 44%;
      left: 20px;
    }

    .reel_img3 {
      position: absolute;
      top: 65%;
      left: 0px;
    }

    .reel_img4 {
      position: absolute;
      top: 66%;
      right: 20px;
    }

    .reel_img_box1 {
      align-items: center;
    }

    .reel_para {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin: 48.34px 0 16px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }
    .terms_para {
      font-family: "Poppins";
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 26px;
      text-align: center;
      color: #ffffff;
    }
  }
}
.padder {
  padding: 0px 30px 40px;
}
// Steps Earn
.earn_reel_form {
  background-image: none;
  background-color: #ffffff;
  overflow: hidden;

  &::before {
    content: none;
  }
  .controls_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 30px;

    .control_img {
      cursor: pointer;
    }
  }
  .earn_text {
    margin: 0;
    position: unset;
    max-width: none;
    color: #215647;
    padding: 70px 0px 32px;

    span {
      font-family: "The Sidestream";
      font-weight: 400;
      font-size: 39px;
      line-height: 46.91px;
    }
  }
  .reel_content {
    display: flex;
    gap: 11.7px;
    max-width: 375px;
    padding: 0px 20px 0px 15px;
    margin: 0 auto;

    .text_box {
      margin: -8px 0 0;

      .earn_sub_text {
        font-family: "Poppins";
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 4px;
        color: #215647;
        font-weight: 500;
        .post {
          color: #4b94f0;
          font-weight: 700;
        }
        .tag {
          color: #ffa4c4;
          font-weight: 700;
        }
        .earn {
          color: #ff6434;
          font-weight: 700;
        }
      }
      .warmee_earn_sub_text {
        max-width: 279px;
        width: 100%;
      }
    }
  }
  .images_box {
    .lines_logo {
      position: absolute;
      top: -40px;
      right: 110px;
    }
    .line_moving {
      background-color: #4b94f0;
      border-top: 7px solid #215647;
      border-bottom: 7px solid #215647;
      height: 60px;
      display: flex;
      align-items: center;
      font-family: "Druk Wide Trial";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      width: 107%;
      margin-left: -2%;
      line-height: 132.78%;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
      color: #fefbd6;
      transform: rotate(-9.16deg);
    }
    position: relative;
    margin: 80px 0px 130px;

    .earnd_logo {
      @media (min-width: 320px) and (max-width: 360px) {
        width: 100%;
      }
    }
  }
  .earn_now_label {
    max-width: 100%;
    overflow: hidden;
    .earn_control_box {
      max-width: 375px;
      margin: 30px auto 0;
    }
  }
  .earn_btn {
    background: #ff6434;
    color: #ffffff;
    // margin: 0 auto 65px;
  }
  .earn_heading {
    font-size: 28px;
    max-width: none;
    line-height: 132.78%;
    color: #215647;
    margin: 65px 0px !important;
    span {
      font-family: "The Sidestream";
      color: #ff6434;
      font-size: 38px;
      font-weight: 400;
    }
  }
  .earn_input_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 25px;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
    .label {
      font-family: "Poppins";
      position: absolute;
      top: -10px;
      left: 14px;
      padding: 0 5px 0 6px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      background-color: #fff;
      color: #215647;
      z-index: 1;
      .info_img {
        margin-left: 7px;
        cursor: pointer;
      }
    }
    .earn_input_span {
      position: absolute;
      left: 16px;
      top: 16.5px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #8c8c8c;
    }
    .earn_input {
      padding: 16px 0 16px 15px;
      width: 100%;
      height: 56px;
      border: 1.5px solid #215647;
      border-radius: 15px;
    }
  }
}
// congrats
.congrats_form {
  background-color: #4b94f0;
  background-image: url("/images/bg-congrates.png");
  background-size: contain;
  background-position: center 0;
  position: relative;
  // z-index: 1;
  // ::before {
  //   content: "";
  //   position: absolute;
  //   width: 100vw;
  //   z-index: -1;
  //   right: 0;
  //   bottom: 0;
  //   background-size: auto;
  //   background-position: top;
  //   background-repeat: repeat;
  //   height: 100vh;
  //   background-image: url("/images/gif-congatss.gif");
  // }
  .congrats_container {
    height: 100%;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .congrats_box {
    text-align: center;
    height: 100vh;

    .congrats_logo {
      width: 62px;
      margin: 0 auto;
    }
    .controls_welcome {
      text-align: left;
      padding-top: 30px;
      cursor: pointer;
      padding: 30px 30px 0px;
    }
    .congrats_heading {
      font-family: "Druk Wide Trial";
      font-style: normal;
      font-weight: 500;
      margin: 33px 0 25px;
      font-size: 28px;
      line-height: 132.78%;
      text-align: center;
      text-transform: capitalize;
      color: #fefbd6;
      position: relative;
      @media (min-width: 320px) and (max-width: 348px) {
        font-size: 26px;
      }

      &::before {
        content: "";
        position: absolute;
        background-image: url("/images/congrats-lines.png");
        width: 50.4px;
        height: 25.2px;
        top: -23px;
        left: -12px;
      }
    }
    .congrats_para {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin: 0 37px 0 38px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      position: relative;

      &::before {
        content: "";
        background-image: url("/images/congrats-line.png");
        position: absolute;
        right: 84px;
        bottom: -18px;
        width: 105px;
        height: 17px;
        @media (min-width: 320px) and (max-width: 348px) {
          right: 0;
        }
      }
      span {
        font-family: "The Sidestream";
        font-weight: 400;
        font-size: 17px;
        line-height: 21.11px;
        text-align: center;
      }
    }
  }
}
// same heading and button styling
.reel_started_btn {
  max-width: 334px;
  width: 100%;
  height: 62px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: #ffffff;
  border: none;
  border-radius: 83px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 18px;
  text-align: center;
  color: #215647;
}
.wlcm {
  font-family: "Druk Wide Trial";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120.28%;
  margin: 20.92px auto 6px;
  text-align: center;
  color: #fefbd6;
  max-width: 352px;
  position: relative;
  text-transform: capitalize;
}
