@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("../fonts/stylesheet.css");
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
button {
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: "Plus Jakarta Display", sans-serif;
}
h2 {
  font-family: "Dream to Berich DEMO (FOR USE P";
}
.nav_main {
  max-width: "1440px";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.para {
  width: 552px;
  font-family: Helvetica;
}
.link {
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
