@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("/fonts/stylesheet.css");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
}
button {
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
a {
  color: inherit !important;
  text-decoration: none !important;
  font-weight: 500;
  font-size: 16px;
  font-family: "Plus Jakarta Display", sans-serif;
}
h2 {
  font-family: "Dream to Berich DEMO (FOR USE P";
  margin: 0;
}
h3,
h5,
h6 {
  font-family: "Plus Jakarta Display";
  margin: 0;
}
h4 {
  font-family: "Dream to Berich DEMO (FOR USE P";
  margin: 0;
}
p {
  font-family: Helvetica;
  margin: 0;
}
.main_container {
  max-width: 1440px;
  margin: 0 auto;
}
// Header

.nav_main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 28px 87px 31.41px 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 992px) and (max-width: 1100px) {
    padding: 28px 60px 31.41px 60px;
  }

  @media (max-width: 768px) {
    padding: 28px 24px;
  }

  .mob-icon {
    @media (min-width: 992px) {
      display: none;
    }
  }

  .links {
    margin-left: 100px;
    @media (min-width: 992px) and (max-width: 1100px) {
      margin-left: 20px;
    }
    @media (max-width: 992px) {
      display: none;
    }
    .header_link {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
    }
    .work_link {
      padding-right: 67px;
    }
    .faq_link {
      padding-right: 67px;
    }
  }
  .icon_logo {
    @media (max-width: 992px) {
      display: none !important;
    }
    .twitter_icon {
      margin-right: 24px;
    }
  }
  .header_btns {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-top: 5px;
    .header_btn {
      background: #000000;
      font-weight: 500;
      padding: 15px 20px;
      color: #ffffff;
    }
  }
}
.mobile-nav {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 70vh;
  padding: 0 35px 35px;
  z-index: 3;
  @media (min-width: 992px) {
    display: none;
  }

  .links_mob {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    align-items: center;

    .header_link {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
    }
  }
  .header_mob_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding-top: 5px;
    @media (max-width: 380px) {
      gap: 7px;
    }
    .twitter_icon {
      margin-right: 24px;
    }
  }
}
// Footer

.footer {
  width: 100%;
  background: #000000;
  .footer_main {
    max-width: 1440px;
    padding: 114px 88px 36px 106px;

    margin: 0 auto;

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 114px 50px 36px;
    }

    @media (max-width: 768px) {
      padding: 48px 24px;
    }

    .footer_frankly_logo {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      .footer-logo {
        @media (min-width: 768px) and (max-width: 1200px) {
          width: min-content;
        }

        @media (max-width: 768px) {
          width: 100%;
        }

        img {
          @media (max-width: 768px) {
            width: 100%;
          }
        }

        .footer_subheading {
          max-width: 444px;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.02em;
          color: #ffffff;
          padding-top: 45px;
        }
      }
    }
    .footer_btns {
      display: flex;
      gap: 13px;
      @media (max-width: 768px) {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .btn_bx {
        background: #ffffff;
        border: 1.05687px solid #010101;
        border-radius: 242px;
        height: 53px;
        .btn {
          padding: 15px 44px;
          background: #ae97fe;
          border: 1px solid #000000;
          font-family: "Plus Jakarta Display", sans-serif;
          border-radius: 243px;
          font-style: normal;
          cursor: pointer;
          font-weight: 700;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.03em;
          color: #000000;
          position: relative;
          left: -5px;
          top: -7px;

          @media (max-width: 699px) {
            padding: 15px 15px;
          }
        }
        .btn_brand {
          background: #ffffff;
        }
      }
    }
    .content_bx {
      position: relative;
      right: 32px;
      text-align: right;
      margin-bottom: 56.02px;
      .insta_star {
        position: relative;
      }
      .insta_twitter {
        position: relative;
        bottom: -26px;
      }
    }
    .footer_links {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ffffff;
      margin-bottom: 26px;
      @media (max-width: 768px) {
        gap: 16px;
        flex-wrap: wrap;
      }

      .footer_link_bx {
        display: flex;
        gap: 62px;

        @media (max-width: 768px) {
          gap: 16px;
        }
      }
      .footer_emailPara {
        font-family: "Inter", sans-serif;
        line-height: 18px;
        text-align: center;
      }
    }
    .horizontal_line {
      max-width: 1246px;
      background: #ffffff;
      height: 2px;
      margin-bottom: 41px;
    }
    .footer_para {
      font-family: "Plus Jakarta Display";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      letter-spacing: -0.213333px;
      color: #e0e5f3;
    }
  }
}
// Hero Section
.hero_container {
  max-width: 1440px;
  margin: 0 auto;

  .hero_main {
    padding: 0 26px 24px 27px;
    position: relative;
    @media (max-width: 768px) {
      padding: 0 16px 24px;
    }

    .hero_bx {
      max-width: 1387px;
      padding: 172px 84.76px 192px 128px;
      background: linear-gradient(182.45deg, #ffadf2 -5.17%, #eefe8d 51.85%, #a78eff 100.4%);
      border-radius: 38px;
      img {
        width: -webkit-fill-available;
        height: auto;
      }
      @media (min-width: 768px) and (max-width: 992px) {
        padding: 100px 24px;
      }
      @media (max-width: 768px) {
        padding: 50px 24px;
      }
    }
    .down-arrow-box {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 46px;

      @media (max-width: 768px) {
        bottom: 26px;
      }

      .mouse-style-box {
        width: 30px;
        height: 41px;
        margin: 0 auto;
        border: 1px solid #000000;
        border-radius: 122px;
        cursor: pointer;

        @media (max-width: 768px) {
          width: 18px;
          height: 26px;
        }

        .mouse-style {
          animation: jumpInfinite 1.5s infinite;
          position: relative;
          &:after {
            content: " ";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 44%);
            width: 12px;
            height: 12px;
            background-image: url(/images/down-arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @media (max-width: 768px) {
              width: 8px;
              height: 8px;
            }
          }

          @keyframes jumpInfinite {
            0% {
              margin-top: 0;
            }
            50% {
              margin-top: 10px;
            }
            100% {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
.reel_paid_bg {
  cursor: auto;
  width: 100%;
  background: #011703;
}

.reel_paid {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  padding: 82px 55px 52px 110px;

  @media (min-width: 768px) and (max-width: 992px) {
    padding: 80px 50px;
  }
  @media (max-width: 768px) {
    padding: 80px 24px;
  }

  .hero_heading {
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    font-size: 100px;
    line-height: 124%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    position: relative;
    z-index: 1;

    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 52px;
    }
    @media (max-width: 768px) {
      font-size: 32px;
    }

    .get-paid-text {
      background: linear-gradient(182.45deg, #ffadf2 40.09%, #eefe8d 63.07%, #a78eff 82.63%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  .smile {
    position: absolute;
  }
  .smile_one {
    left: 27%;
    top: 16%;
  }
  .smile_two {
    left: 41%;
    bottom: 18%;
    z-index: 2;
  }
  .smile_three {
    top: 54px;
    right: 130px;
    z-index: 2;
  }
}
// Earn Section

.earn_main {
  display: flex;
  gap: 124px;
  cursor: auto !important;
  padding: 61px 126px 98px 118px;

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 61px 50px 98px;
    gap: 80px;
  }
  @media (max-width: 992px) {
    flex-direction: column;
  }
  @media (max-width: 768px) {
    padding: 61px 24px;
    gap: 40px;
  }
  .earn_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .earn_subheading {
      margin: 0px;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 26px;
      color: #a78eff;
    }
    .earn_heading {
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 123%;
      margin-bottom: 12px;
      color: #000000;
      margin-top: 40px;
    }
    .earn_innersubheading {
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #000000;
      margin: 0;
    }
  }
  .earn_right {
    img {
      width: -webkit-fill-available;

      @media (max-width: 768px) {
        height: auto;
      }
    }
  }
}
.earn_purchase_bg {
  width: 100%;
  background: #c8f0ff;

  .earn_purchase {
    max-width: 1440px;
    margin: 0 auto;
    padding: 71px 0 43px;

    @media (max-width: 768px) {
      padding: 43px 24px;
    }

    .earn_purchase_heading {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 149.5%;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: -0.075em;
      margin-bottom: 14px;
      color: #000000;

      @media (max-width: 768px) {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }
    .earn_purchase_para {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 124%;
      text-align: center;
      letter-spacing: 0.03em;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }
}
.stay_bx_bg {
  width: 100%;
  background: #011703;

  .stay_bx {
    max-width: 1440px;
    margin: 0 auto;
    padding: 84px 0 29px;
    text-align: center;
    @media (max-width: 992px) {
      padding: 40px 24px;
    }

    img {
      width: -webkit-fill-available;

      @media (max-width: 768px) {
        height: auto;
      }
    }
  }
}
/* register form */

.register-form {
  display: flex;
  justify-content: center;
  padding: 19px 17.5px 45px;
  max-width: 392px;
  margin: 0 auto;
  position: relative;

  .chat_icon {
    position: absolute;
    right: 24px;
    bottom: 24px;
    cursor: pointer;
  }

  form {
    width: -webkit-fill-available;
  }
  .form-register-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .india_code {
    position: relative;
    width: 100%;
    span {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      top: 38%;
      left: 40px;
    }
  }
  input {
    width: 100%;
    height: 61px;
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none;
    color: #070928;
    background: #f4f5fb;
    border-radius: 16px;

    &::placeholder {
      color: #070928;
      opacity: 1; /* Firefox */
    }
  }
  .btn-cover {
    margin: 0 auto;
    button {
      width: 175px;
      height: 54px;
      font-family: "Mabry Pro";
      cursor: pointer;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;
      background: #000000;
      border-radius: 83px;
      position: relative;

      &:after {
        width: 175px;
        height: 55px;
        content: "";
        background: #4bd178;
        border: 1px solid #000000;
        border-radius: 83px;
        position: absolute;
        left: -2px;
        top: 3px;
        z-index: -1;
      }
    }
  }

  .error {
    font-size: 12px;
    padding: 5px;
    color: red;
    text-transform: lowercase;
  }

  .controls {
    display: flex;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }
  .welcome {
    width: 100%;
    h1 {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 174.28%;
      text-align: center;
      color: #000000;
      margin: 0 0 18px;
    }
    .well-come-fra {
      margin: 0 auto;
    }
    .welcome-img {
      margin: 48px auto 62px;
    }

    .welcome-heading-two {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      color: #000000;
      margin: 0 0 1px;

      span {
        font-size: 24px;
        line-height: 38px;
        background: linear-gradient(92.95deg, #ffadf2 47.96%, #ffdf35 67.19%, #8a68ff 83.57%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
    .welcome-text-bottom {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 25.6px;
      text-align: center;
      color: #000000;
      margin-bottom: 37px;
    }
  }

  .earn-section {
    .earn-text {
      font-family: "Dream to Berich DEMO (FOR USE P";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 35px;
      text-align: left;
      color: #000000;
      margin: 22px 0 3px;

      span {
        background: -webkit-linear-gradient(
          92.95deg,
          #ffadf2 47.96%,
          #ffdf35 67.19%,
          #8a68ff 83.57%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .earn-sub-text {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 27px;
      text-align: left;
      color: #000000;
      margin: 0 0 22px;
    }

    .earn-input {
      margin-bottom: 23px;
    }

    .earning-potential-box {
      width: 100%;
      height: 411px;
      background: #f4f5fb;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 16px;
      margin-bottom: 20px;

      .e-p-heading {
        width: 128px;
        height: 23px;
        background: #000000;
        border-radius: 0px 0px 16px 16px;
        text-align: center;
        margin: 0 auto 6px;

        .e-p-text {
          font-family: "Mabry Pro";
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 13px;
          text-align: center;
          color: #ffffff;
          margin: 0;
          padding: 6px 0 6px;
        }
      }

      .e-p-price {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 160%;
        color: #000000;
        margin: 0;
        text-align: center;
      }
      .hand-img {
        width: 156px;
        height: 275.17px;
        margin: -35px auto 16px;
        padding-left: 5px;
      }

      .e-p-view-box {
        width: max-content;
        height: 23px;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 16px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        gap: 6px;

        .views-number {
          font-family: "Mabry Pro";
          font-style: normal;
          font-weight: 500;
          font-size: 9px;
          line-height: 11px;
          text-align: center;
          color: #000000;
          margin: 0;
        }
      }
    }
  }
  .post-guideines {
    .title-flex {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 13px;
      margin: 15px 0 45px;
      .post-title {
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        color: #000000;
        margin: 0;
      }
    }

    input {
      width: 100%;
      margin-bottom: 23px;
    }

    ul {
      margin: 0 0 66px;
      width: 100%;
      padding: 0;

      list-style: none;
      li {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        p {
          font-family: "Mabry Pro";
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 27px;
          margin: 0;
          color: #000000;
        }

        + li {
          margin-top: 28px;
        }
      }
    }
  }

  .congratulations {
    width: 100%;

    .frankly-logo {
      margin: 25px auto 20px;
    }
    .congratulations-heading {
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 35px;
      text-align: center;
      color: #000000;
      margin: 0 0 24px;
    }
    .sub-heading {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      color: #000000;
      margin: 0 0 28px;
    }

    .sub-heading-two {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      color: #000000;
      margin: 0 0 36px;
    }

    .upi-input {
      margin-bottom: 23px;
    }

    .payment-box {
      width: 100%;
      height: 98px;
      background: #f4f5fb;
      border: 1px solid rgba(0, 0, 0, 0.22);
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      margin-bottom: 30px;

      .p-b-img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background: #c8f0ff;
        }
      }
      .bg-color {
        background: #c8f0ff;
      }

      .devider {
        width: 1px;
        height: 100%;
        background: rgba(0, 0, 0, 0.22);
      }
    }
  }
  .posted {
    width: 100%;
    .posted-main-heading {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin: 22px 0 36px;
    }
    .post-sub-heading {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 27px;
      text-align: center;
      color: #000000;
      margin: 0 0 74px;
    }

    .post-img {
      margin: 0 auto;
    }
  }
}

// Lets break it down
._let-break-div {
  margin-top: 90px;

  @media (max-width: 768px) {
    margin-top: 56px;
  }

  ._let-break-heading {
    text-align: center;
    margin-bottom: 77px;
    @media (max-width: 768px) {
      margin-bottom: 36px;
    }
    h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 107px;
      color: #000000;

      @media (max-width: 768px) {
        font-size: 32px;
        line-height: 42px;
      }
    }
  }

  ._let-break-cards-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 124px 0 116px;
    gap: 47px;

    @media (min-width: 992px) and (max-width: 1299px) {
      padding: 0 60px;
      gap: 20px;
    }

    @media (max-width: 992px) {
      padding: 0 24px;
      justify-content: center;
    }

    .card-detail {
      text-align: center;

      img {
        @media (max-width: 768px) {
          width: 100%;
          height: auto;
        }
      }

      h3 {
        margin: 90px 0px 21px;
        font-family: "Dream to Berich DEMO (FOR USE P";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 124%;
        color: #000000;

        @media (max-width: 768px) {
          font-size: 24px;
          margin: 36px 0px 14px;
        }
      }
      p {
        font-family: Helvetica;
        max-width: 330px;
        font-weight: 400;
        font-size: 22px;
        margin: 0;
        color: #000000;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }

  ._let-break-btn {
    margin: 57px 0 108px;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      margin: 47px 0 56px;
    }
  }
}
// _club-section

.club_bg {
  width: 100%;
  background-color: #4bd178;

  ._club-section-div {
    max-width: 1440px;
    margin: 0 auto;
    padding: 122px 116px 160px 124px;
    position: relative;
    @media (min-width: 768px) and (max-width: 992px) {
      padding: 122px 60px;
    }
    @media (max-width: 768px) {
      padding: 48px 24px;
    }
    @media (max-width: 1600px) {
      overflow: hidden;
    }

    .club-hash-img {
      position: absolute;
      top: 228px;
      right: -76px;

      @media (max-width: 992px) {
        top: inherit;
        bottom: 0;
      }
      img {
        @media (max-width: 768px) {
          width: 200px;
          height: 200px;
        }
      }
    }

    ._club-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 1218px) {
        flex-direction: column;
        gap: 20px;
      }

      .club-detail-img {
        img {
          @media (max-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
      }

      .detail-div {
        h2 {
          font-family: "Dream to Berich DEMO (FOR USE P";
          font-style: normal;
          font-weight: 400;
          font-size: 64px;
          line-height: 123%;
          color: #ffffff;
          margin-bottom: 19px !important;

          @media (max-width: 768px) {
            font-size: 28px;
            margin-bottom: 14px !important;
          }
        }
        p {
          margin-top: 0px !important;
          font-family: "Helvetica";
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 38px;
          letter-spacing: 0.01em;
          color: #ffffff;

          @media (max-width: 768px) {
            font-size: 22px;
            line-height: 28px;
          }
        }
      }
    }
  }
}
// _frank-div
.frank_bg {
  width: 100%;
  background-color: #f8d8eb;

  ._frank-div {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 95px 116px 100px 124px;
    gap: 20px;
    @media (min-width: 992px) and (max-width: 1150px) {
      padding: 95px 80px;
    }

    @media (min-width: 878px) and (max-width: 992px) {
      padding: 90px 50px;
    }

    @media (max-width: 878px) {
      flex-direction: column;
      padding: 48px 24px;
      gap: 40px;
    }

    .fink-img {
      img {
        @media (max-width: 768px) {
          width: 100%;
          height: auto;
        }
      }
    }

    .fink-detail {
      h2 {
        font-family: "Dream to Berich DEMO (FOR USE P";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 123%;
        color: #000000;

        @media (max-width: 768px) {
          font-size: 28px;
        }
      }
      p {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 123%;
        color: #000000;
        padding-top: 30px;
        max-width: 552px;

        @media (max-width: 768px) {
          font-size: 18px;
          padding-top: 16px;
        }
      }
    }
  }
}
.great_moves {
  padding: 32px 70px;
  text-align: center;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  @media (min-width: 992px) and (max-width: 1100px) {
    padding: 32px 20px;
  }
  @media (max-width: 768px) {
    padding: 30px 24px;
  }
  .great_moves_logo {
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .mob_logo {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
    @media (max-width: 580px) {
      width: 100%;
    }
  }
}

// faq style

.main-faq-cantaner {
  max-width: 908px;
  margin: 0 auto;
  padding: 135px 24px 145px;

  @media (max-width: 699px) {
    padding: 92px 24px;
  }

  .main-heading {
    font-family: "Space Mono", sans-serif;
    color: #000;
    font-size: 45px;
    line-height: 115%;
    font-weight: 700;
    text-align: center;
    margin: 0 0 60px;

    @media (max-width: 600px) {
      font-size: 32px;
      line-height: 100%;
      margin: 0 0 42px;
    }
  }

  .accordion {
    .accordion-item {
      border: none;
      width: 100%;
      margin-right: 20px;
      margin-bottom: 16px;
      padding: 8px 55px 40px 16px;
      border-bottom: 1px solid #c4c4c4 !important;

      @media (max-width: 600px) {
        padding: 8px 55px 25px 16px;
      }

      .accordion-button {
        font-family: "Space Mono", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 115%;
        text-align: left;
        color: #121212;
        text-decoration: underline;
        padding: 0 !important;

        @media (max-width: 600px) {
          font-size: 22px;
          line-height: 100%;
        }

        &:focus {
          border: none !important;
          box-shadow: inherit;
        }
        &:not(.collapsed) {
          color: #000 !important;
          background-color: #fff;
          box-shadow: inherit;
        }

        &:after {
          content: "";
          width: 12px;
          height: 3px;
          background-image: url(https://assets.website-files.com/604908b98cdfd9dad974ad27/6079e92b53660201ded2cae6_-.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: -25px;
          position: absolute;
          right: -25px;
        }
      }
      .accordion-button.collapsed {
        &:after {
          content: "";
          width: 13px;
          height: 13px;
          background-image: url(https://assets.website-files.com/604908b98cdfd9dad974ad27/6079e92cf238a9612981f5fb_%2B.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: -25px;
          position: absolute;
          right: -25px;
        }
      }

      .accordion-body {
        font-family: "Space Mono", sans-serif;
        font-size: 16px;
        line-height: normal;
        max-width: 80%;
        margin-top: 20px !important;
        padding: 0 4% 0 0 !important;
        color: #333 !important;

        ul {
          list-style: auto;
        }
      }
    }
  }
}

// unique button styling
._let-break-btn-box {
  background: #ffffff;
  border: 1.05687px solid #010101;
  border-radius: 129px;
  .same-btn {
    padding: 21px 23px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 126px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffffff;
    position: relative;
    left: -5px;
    top: -5px;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
  .unique_btn {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 16px;
  }
}

// slider control

.slick-dots {
  bottom: 33px !important;
  left: -7px;

  li {
    width: 2px !important;
    height: 2px !important;
  }
}
