@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('../fonts/stylesheet.css');
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
button {
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Plus Jakarta Display', sans-serif;
}
h2 {
  font-family: 'Dream to Berich DEMO (FOR USE P';
  margin: 0;
}
h3,
h5,
h6 {
  font-family: 'Plus Jakarta Display';
  margin: 0;
}
h4 {
  font-family: 'Dream to Berich DEMO (FOR USE P';
  margin: 0;
}
p {
  font-family: Helvetica;
  margin: 0;
}
.main_container {
  max-width: 1440px;
  margin: 0 auto;
}

// Header

.nav_main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 28px 87px 31.41px 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .links {
    .header_link {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
    }
    .work_link {
      padding-right: 67px;
    }
    .faq_link {
      padding-right: 67px;
    }
  }
  .icon_logo {
    .twitter_icon {
      margin-right: 24px;
    }
  }
}

// Footer

.footer_main {
  max-width: 1440px;
  padding: 114px 88px 36px 106px;
  background: #000000;
  margin: 0 auto;
  .footer_frankly_logo {
    display: flex;
    justify-content: space-between;
    .footer_subheading {
      max-width: 444px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #ffffff;
      padding-top: 45px;
    }
  }
  .footer_btns {
    display: flex;
    gap: 13px;
    .btn_bx {
      background: #ffffff;
      border: 1.05687px solid #010101;
      border-radius: 242px;
      height: 73px;
      .btn {
        padding: 21px 82.9px;
        background: #ae97fe;
        border: 1px solid #000000;
        font-family: 'Plus Jakarta Display', sans-serif;
        border-radius: 243px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.03em;
        color: #000000;
        position: relative;
        left: -6px;
        top: -1px;
      }
      .btn_brand {
        background: #ffffff;
      }
    }
  }
  .content_bx {
    position: relative;
    right: 32px;
    text-align: right;
    margin-bottom: 40.02px;
    top: -30px;
    .insta_star {
      position: relative;
    }
    .insta_twitter {
      position: relative;
      bottom: -26px;
    }
  }
  .footer_links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    margin-bottom: 26px;
    .footer_link_bx {
      display: flex;
      gap: 62px;
    }
    .footer_emailPara {
      font-family: 'Inter', sans-serif;
      line-height: 18px;
      text-align: center;
    }
  }
  .horizontal_line {
    max-width: 1246px;
    background: #ffffff;
    height: 2px;
    margin-bottom: 41px;
  }
  .footer_para {
    font-family: 'Plus Jakarta Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.213333px;
    color: #e0e5f3;
  }
}

// Hero Section
.hero_container {
  max-width: 1440px;
  margin: 0 auto;
  .hero_main {
    padding: 0 26px 24px 27px;
    .hero_bx {
      max-width: 1387px;
      padding: 172px 84.76px 192px 128px;
      background: linear-gradient(
        182.45deg,
        #ffadf2 -5.17%,
        #eefe8d 51.85%,
        #a78eff 100.4%
      );
      border-radius: 38px;
    }
  }
  .reel_paid {
    position: relative;
    background: #011703;
    padding: 82px 55px 52px 110px;
    .hero_heading {
      font-style: normal;
      font-weight: 400;
      margin: 0 auto;
      font-size: 100px;
      line-height: 124%;
      text-align: center;
      letter-spacing: 0.03em;
      color: #ffffff;
      .get-paid-text {
        background: linear-gradient(
          182.45deg,
          #ffadf2 40.09%,
          #eefe8d 63.07%,
          #a78eff 82.63%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      // span {
      //   background: linear-gradient(
      //       173.29deg,
      //       #ffadf2 40.09%,
      //       #eefe8d 63.07%,
      //       #a78eff 82.63%
      //     ),
      //     linear-gradient(0deg, #ffffff, #ffffff);
      // }
    }
    .smile {
      position: absolute;
    }
    .smile_one {
      left: 27%;
      top: 16%;
    }
    .smile_two {
      left: 41%;
      bottom: 18%;
    }
    .smile_three {
      top: 54px;
      right: 130px;
    }
  }
}

// Earn Section

.earn_main {
  display: flex;
  gap: 124px;
  background: #ffffff;
  padding: 61px 126px 98px 118px;
  .earn_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .earn_subheading {
      margin: 0px;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 26px;
      color: #a78eff;
    }
    .earn_heading {
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 123%;
      margin-bottom: 12px;
      color: #000000;
      margin-top: 40px;
    }
    .earn_innersubheading {
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #000000;
      margin: 0;
    }
  }
  .earn_right {
  }
}
.earn_purchase {
  background: #c8f0ff;
  padding: 71px 0 43px;
  .earn_purchase_heading {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 149.5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.075em;
    margin-bottom: 14px;
    color: #000000;
  }
  .earn_purchase_para {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 124%;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.stay_bx {
  background: #011703;
  padding: 84px 0 29px;
  text-align: center;
}

/* register form */

.register-form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  .form-register-container {
    display: flex;
    flex-direction: column;
  }
  .india_code {
    position: relative;
    span {
      font-family: 'Mabry Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      top:38%;
      left:40px



    }


  }
  input {
    width: 356px;
    height: 61px;

    font-family: 'Mabry Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border: none;
    /* Black */

    color: #070928;

    background: #f4f5fb;
    border-radius: 16px;
  }
  .btn-cover {
    position: relative;
    margin: 35px auto;
    button {
      width: 216px;
      height: 66px;
      left: 106px;
      top: 774px;
      font-family: 'Mabry Pro';
      cursor: pointer;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      /* identical to box height */

      text-align: center;

      color: #ffffff;
      background: #000000;
      border-radius: 83px;

      &:after {
        width: 214px;
        height: 66px;
        content: '';
        background: #4bd178;
        border: 1px solid #000000;
        border-radius: 83px;
        position: absolute;
        left: 0px;
        z-index: -1;
        top: 5px;
      }
    }
  }

  .error {
    font-size: 12px;
    padding: 5px;
    color: red;
    text-transform: lowercase;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    img {
      cursor: pointer;
    }
  }
  .welcome {
    h1 {
      font-family: 'Mabry Pro';
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 174.28%;
      text-align: center;
      color: #000000;
      margin: 52px 0 18px;
    }
    .well-come-fra {
      margin: 0 auto;
    }
    .welcome-img {
      margin: 50px auto 47px;
    }
  }

  .earn-section {
    margin-top: 17px;
    .earn-text {
      font-family: 'Dream to Berich DEMO (FOR USE P';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin: 45px 0 21px;

      span {
        background: -webkit-linear-gradient(
          92.95deg,
          #ffadf2 47.96%,
          #ffdf35 67.19%,
          #8a68ff 83.57%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .earn-sub-text {
      font-family: 'Mabry Pro';
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin: 0 0 21px;
    }
    .earn-button {
      width: 116.05px;
      height: 42px;
      background: #8a68ff;
      border-radius: 50px;
      font-family: 'Mabry Pro';
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 160%;
      text-align: center;
      color: #ffffff;
      border: none;
      margin: 0 auto 51px;
    }
    .hand-img {
      margin: 0 auto 50px;
      padding-left: 20px;
    }
  }
  .post-guideines {
    .title-flex {
      display: flex;
      align-items: flex-end;
      gap: 13px;
      margin: 47px 0 36px;
      .post-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
        color: #000000;
        margin: 0;
      }
    }

    ul {
      margin: 0 0 144px;
      max-width: 381px;
      padding-left: 10px;
      li {
        font-family: 'Mabry Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        color: #000000;

        + li {
          margin-top: 20px;
        }
      }
    }
  }

  .congratulations {
    max-width: 365px;

    .frankly-logo {
      margin: 25px auto 26px;
    }
    .congratulations-heading {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin: 0 0 44px;
    }
    .sub-heading {
      font-family: 'Mabry Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 129%;
      text-align: center;
      color: #000000;
      margin: 0 0 44px;
    }

    .sub-heading-two {
      font-family: 'Mabry Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 129%;
      text-align: center;
      color: #000000;
      margin: 0 0 65px;
    }
  }
  .posted {
    max-width: 351px;
    .posted-main-heading {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin: 98px 0 0;
    }
    .post-sub-heading {
      font-family: 'Mabry Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin: 20px 0;
    }

    .post-sub-two-heading {
      font-family: 'Mabry Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin: 0 0 79px;
    }

    .post-img {
      margin: 0 auto;
    }
  }
}

// Lets break it down
._let-break-div {
  margin-top: 90px;

  ._let-break-heading {
    text-align: center;
    margin-bottom: 77px;
    h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 107px;
      color: #000000;
    }
  }

  ._let-break-cards-detail {
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 124px;
    padding-right: 116px;
    .card-detail {
      text-align: center;

      h3 {
        margin: 90px 0px 21px;

        font-family: 'Dream to Berich DEMO (FOR USE P';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 124%;
        color: #000000;
      }
      p {
        font-family: Helvetica;
        max-width: 330px;
        font-weight: 400;
        font-size: 22px;
        margin: 0;
        color: #000000;
      }
    }
  }

  ._let-break-btn {
    margin-top: 57px;
    margin-bottom: 108px;
    display: flex;
    justify-content: center;
    ._let-break-btn-box {
      background: #ffffff;
      border: 1.05687px solid #010101;
      border-radius: 129px;

      // height:73.26px;
      // height: 66px;
      // width: 237.45px;
      .btn {
        // width: 192.88px;
        // height: 24px;
        padding: 21px 23px;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 126px;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.03em;

        color: #ffffff;

        position: relative;
        left: -5px;
        top: -5px;
      }
      .btn_brand {
        background: #000000;
      }
    }
  }
}

// _club-section
._club-section-div {
  background-color: #4bd178;
  padding-left: 124px;
  padding-right: 116px;
  padding-top: 122px;
  padding-bottom: 157px;
  ._club-detail {
    @media screen and (max-width: 1218px) {
      flex-direction: column;
      // flex-wrap: wrap;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    .detail-div {
      h2 {
        font-family: 'Dream to Berich DEMO (FOR USE P';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 123%;
        /* or 79px */

        color: #ffffff;
        margin-bottom: 19px !important;
      }
      p {
        margin-top: 0px !important;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.01em;
        color: #ffffff;
      }
    }
  }
}

// _frank-div

._frank-div {
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  background-color: #f8d8eb;
  display: flex;

  justify-content: space-around;
  align-items: center;
  padding-left: 124px;
  padding-right: 116px;
  padding-top: 95px;
  padding-bottom: 100px;
  .fink-detail {
    h2 {
      font-family: 'Dream to Berich DEMO (FOR USE P';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 123%;
      color: #000000;
    }
    p {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 123%;
      color: #000000;
      padding-top: 30px;
      max-width: 552px;
    }
  }


}
.great_moves {
  padding: 30px 70px;
  text-align: center;
  h5 {
    font-family: 'Dream to Berich DEMO (FOR USE P';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 123%;
    /* identical to box height, or 59px */
     padding-top: 30px;
    text-align: center;

    background: linear-gradient(
      182.84deg,
      #ffadf2 -6.54%,
      #eefe8d 31.83%,
      #a78eff 64.5%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;



  }
}